<%if j_select%> 
    <div class="modal fade docprevtop" id="show-resume-prev<%=num%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<%else%>
    <div class="modal fade docprevtop" id="show-resume-prev" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<%end%>
    <div class="modal-dialog" style= "z-index:100000000000000;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Provider <%=file_by_ptype(ptype)%></h4>
            </div>
            <div class="modal-body">
                <iframe class="doc-prev" src="http://docs.google.com/viewer?url=<%=resume_url%>&embedded=true"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    
    <%if j_select%>
        $(this).closest(".modal-dialog").find(".modal-header .close, .modal-footer button").click(function () {
            $(this).closest("#createsheet4").find(<%="whyb#{num}"%>).trigger("click");
        });
    <%end%>
    
</script>
