<div class= 'center' id = "createsheet">
    <h3>Edit Your Registration Information</h3>
    <%=render 'shared/error_messages'%>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password Required", class: "form-control"%>
        </div>
        <div class="form-group">
            <input type="hidden" name="provider[ptype]" id="btn-input" value = ""%>
            <div class="btn-group" data-toggle="buttons-radio">
                <button id="frb" type="button" name="provider[ptype]" value="freelancer" class="btn btn-primary">Freelancer</button>
                <button id="agb" type="button" name="provider[ptype]" value="agency" class="btn btn-primary">Agency</button>
            </div>
        </div>
        <div class="form-group">
            <input type="name" class="form-control" name="provider[name]" id="name" placeholder="Update Name Shown to Providers" required autofocus>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name= "provider[email]" id="email" placeholder="Update Email" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name= "provider[password]" id="passwd" placeholder="Update Password" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name= "provider[password_confirmation]" id="confirmpasswd" placeholder="Confirm New Password" required autofocus>
        </div>
        <div class="form-group">
            <input name="commit" type="submit" value="Update Registration" class= "btn btn-large btn-primary"/>
        </div>

    <%end%>
    <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-primary", id: "cancelbutton", :data => { confirm: "Are you sure?" }, method: :delete %>
</div>

<script type="text/javascript">
    var btns= ['frb','agb'];
    var input= document.getElementById('btn-input');
    for(var i=0; i<btns.length; i++) {
        document.getElementById(btns[i]).addEventListener('click', function() {
            input.value= this.value;
        });
    }
</script>
