<div class= 'center' id = "createsheet">
    <h3>Edit Your Registration Information</h3>
    <%=render 'shared/error_messages'%>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'flp'}) do |f| %>
        <div class="form-group sfield">
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control sfield",id: 'currentpasswd',autofocus: true%>
            <label for='currentpasswd' class='sfield'>Current Password Required</label>
        </div>
        <div class="form-group sfield">
            <input type="name" class="form-control sfield" name="provider[name]" id="name"  required>
            <label for="name" class="sfield">Update Name Shown to Providers</label>
        </div>
        <div class="form-group sfield">
            <input type="email" class="form-control sfield" name= "provider[email]" id="email" required>
            <label for="email" class="sfield">Update Email</label>

        </div>
        <div class="form-group sfield">
            <input type="password" class="form-control sfield" name= "provider[password]" id="passwd" required>
            <label for="passwd" class="sfield">Update Password</label>
        </div>
        <div class="form-group sfield">
            <input type="password" class="form-control sfield" name= "provider[password_confirmation]" id="confirmpasswd"  required>
            <label for="confirmpasswd" class="sfield">Confirm New Password</label>
        </div>
        <div class="form-group">
            <input type="hidden" name="provider[ptype]" id="btn-input" value = "">
            <div id="mode-group" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" id="frb" value="freelancer">
                    <input type="radio" name="mode" value="freelancer" class="ptype-btn"> Freelancer
                </label>
                <label class="btn btn-primary" id="agb" value="agency">
                    <input type="radio" name="mode" value="agency" class="ptype-btn"> Agency
                </label>
            </div>
        </div>

        <div class="form-group">
            <input name="commit" type="submit" value="Update Registration" class= "btn btn-large btn-primary"/>
        </div>

    <%end%>
    <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-primary", id: "cancelbutton", :data => { confirm: "Are you sure?" }, method: :delete %>
</div>


