<div class= 'center' id = "createsheet">
    <h3>Create your Provider Profile</h3>
    
    <%=render 'shared/error_messages'%> 
    <%= form_for @provider do |f|%>
        <div class="form-group">
            <%= f.radio_button :ptype, 'freelancer' %><b>Freelancer</b>
            <%= f.radio_button :ptype, 'agency' %><b>Agency</b>
        </div>
        <div class="form-group">
            <input type="name" class="form-control" name="provider[name]" id="name" placeholder="Name Shown to Clients" required autofocus>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name= "provider[email]" id="email" placeholder="Email" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name= "provider[password]" id="passwd" placeholder="Password" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name= "provider[password_confirmation]" id="confirmpasswd" placeholder="Confirm Password" required autofocus>
        </div>
        <div class="form-group">
            <input name="commit" type="submit" value="Submit" class= "btn btn-large btn-primary"/>
        </div>
    <%end%>
</div>

