/* universal */
/* line 5, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
html {
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
}

/* line 11, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
body {
  margin: 0 0 100px;
  padding-top: 60px;
  font-family: 'Palatino', sans-serif;
  background: url("http://thecodeplayer.com/uploads/media/gs.png");
  background: linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), url("http://thecodeplayer.com/uploads/media/gs.png");
}
/* line 15, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
body h4 {
  font-style: bold;
  font-weight: 500;
}

/* line 25, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
section {
  overflow: auto;
}

/* line 29, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
textarea {
  resize: vertical;
}

/* line 33, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.center {
  text-align: center;
}

/* line 37, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.center h1 {
  margin-bottom: 10px;
}

/* typography */
/* line 42, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Palatino", "sans-serif";
}

/* line 47, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 53, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h1.special {
  background: #edf7ed;
  color: #3d8f3d;
  margin-bottom: 40px;
}

/* line 58, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

/* line 66, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h3 {
  font-size: 1.4em;
  letter-spacing: -1px;
  line-height: 1.2em;
  text-align: center;
  font-weight: normal;
}

/* line 73, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#slogan {
  font-size: 1.85em;
  letterspacing: -1px;
  line-height: 1.2em;
  text-align: center;
  font-weight: normal;
}

/* line 80, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
/* line 88, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
header ul {
  display: inline-block;
  list-style-type: none;
}
/* line 92, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
header #droplog {
  padding: 10px;
}
/* line 94, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
header #droplog input[type=text] {
  width: 200px;
}

/* line 100, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.ui-state-disabled {
  display: none;
}

/* line 103, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#logo {
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 1.7em;
  color: #0096FA;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
/* line 114, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#logo:hover {
  color: #61c0ff;
  text-decoration: none;
}

/* footer */
/* line 122, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid #999;
  color: #fff;
}
/* line 130, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer a {
  color: #ddd;
  font-size: 1.3em;
}
/* line 133, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer a:hover {
  color: #fff;
}
/* line 137, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer small {
  float: left;
}
/* line 140, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer ul {
  float: right;
  list-style: none;
}
/* line 143, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer ul li {
  float: left;
  margin-left: 10px;
}

/* home */
/* line 151, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#hometownhero {
  margin-top: 130px;
  padding-top: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 900px;
  background: white;
}

/* line 162, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#homebuttons li {
  display: inline-block;
  list-style-type: none;
  padding-right: 2%;
  padding-left: 2%;
  margin-top: 24px;
}
/* line 166, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#homebuttons li .btn {
  font-size: 28px;
}
/* line 171, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#homebuttons li div {
  width: 275px;
}

/* line 176, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#logo2 {
  color: #0096FA;
}

/*Create Provider Profile*/
/* line 182, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet {
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
/* line 183, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet h3 {
  margin-bottom: 22px;
}
/* line 196, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet ol li {
  list-style-type: none;
  padding-right: 40px;
}
/* line 199, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet ol li label {
  display: inline-block;
}

/* line 204, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 {
  background: #A8D8F0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 800px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
/* line 205, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 h3 {
  margin-bottom: 22px;
}
/* line 218, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 ul li {
  list-style-type: none;
  padding-right: 40px;
}
/* line 224, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 fieldset .form-group {
  width: 400px;
  margin-left: 180px;
}
/* line 230, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 #oneliner {
  float: left;
  margin-left: 212px;
  padding-left: 0;
  overflow: hidden;
  white-space: nowrap;
}
/* line 236, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 #oneliner li {
  display: inline-block;
}
/* line 240, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 #prof {
  margin-right: -400px;
}

/* line 248, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#error_explanation ul {
  list-style: none;
  margin: 0px 0 18px 0;
}

/* line 254, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
aside section {
  padding: 10px 0;
}
/* line 256, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
aside section:first-child {
  border: 0;
  padding-top: 0;
}
/* line 260, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
aside section span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
}
/* line 265, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
aside section h1 {
  display: inline-block;
  font-size: 2.0em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 17px;
}

/* line 276, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#prof {
  float: left;
  margin-top: 4px;
  margin-right: 15px;
  margin-left: 22px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/* line 284, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#usereditform {
  width: 300px;
}
/* line 286, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#usereditform .form-group {
  padding-bottom: 15px;
}

/* line 291, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#profile {
  padding-left: 100px;
}

/* line 295, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#fancybutton {
  display: none;
}

/* line 300, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfilePage {
  /* Move it off the top of the page, then centre it horizontally */
  margin: 50px auto;
  padding-bottom: 15px;
  padding-top: 15;
  width: 840px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #A8D8F0;
}

/* line 314, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#jobbutton {
  border: none;
  background: #F07830;
  color: #FFF;
  padding: 10px 30px;
  font-size: 40px;
  font-family: Palatino;
  font-weight: bold;
}
/* line 324, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#jobbutton a {
  color: white;
}

/* line 330, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#LeftCol {
  /* Move it to the left */
  float: left;
  padding-left: 10px;
  width: 250px;
  text-align: center;
  /* Move it away from the content */
  margin-right: 10px;
  /* For visibility. Delete me */
}

/* line 344, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Photo {
  /* Width and height of photo container */
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

/* line 352, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions {
  text-align: left;
  width: 400px;
}
/* line 355, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #namelist {
  padding: 0;
  margin-top: 50px;
  list-style-type: none;
}
/* line 361, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #namelist li {
  display: inline;
  padding: 0;
  margin: 0;
}
/* line 365, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #namelist li h1 {
  padding: 0px;
  margin: 0px;
}
/* line 370, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #profilebutton {
  border: none;
  background: #222;
  color: #FFF;
  padding: 5px 20px;
  margin: 5px;
  font-size: 17px;
  font-family: Palatino;
  font-weight: bold;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
/* line 384, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #profilebutton a {
  color: white;
}

/* line 391, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Info {
  width: 400px;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* Move it to the right */
  float: left;
  margin-left: 150px;
  margin-top: 15px;
  margin-right: 15px;
  /* For visibility. Delete me */
}

/* line 406, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Info #rankbutton {
  background: #40B03F;
}

/* line 410, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Info strong {
  /* Give it a width */
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

/* line 417, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Info span {
  /* Give it a width */
  display: inline-block;
  width: 250px;
}

/* line 423, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#cancelbutton {
  background: #781800;
}

/*Let's place the label over the input*/
/* line 430, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.flp div {
  position: relative;
  margin-bottom: 30px;
}

/* line 432, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.flp input, .flp label {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  /*fixed height for FF line height issue. 
  height = 24(lineheight) + 10*2(padding) + 2(border)*/
  height: 46px;
  border: 1px solid #999;
}

/* line 439, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.flp input {
  padding: 10px;
  outline: none;
  border-radius: 3px;
}

/* line 440, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.flp label {
  position: absolute;
  left: 0;
  top: 0;
  /*left/right padding will be 2px less, adjusted by padding on .ch*/
  padding: 10px 8px;
  border-color: transparent;
  color: #666;
  cursor: text;
}

/*label styles*/
/* line 449, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.ch {
  display: block;
  float: left;
  position: relative;
  /*for upward animation*/
  background: white;
}

/* line 454, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.ch:first-child {
  padding-left: 2px;
}

/* line 455, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.ch:last-child {
  padding-right: 2px;
}

/*active input label*/
/* line 458, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.focussed {
  /*when any input is already focussed clicking on it(label) again won't do anything*/
  pointer-events: none;
}
