/* universal */
/* line 4, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
html {
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
}

/* line 10, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
body {
  margin: 0 0 100px;
  padding-top: 60px;
  font-family: 'Palatino', sans-serif;
  background: url("http://thecodeplayer.com/uploads/media/gs.png");
  background: linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), url("http://thecodeplayer.com/uploads/media/gs.png");
}
/* line 14, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
body h4 {
  font-style: bold;
  font-weight: 500;
}

/* line 24, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
section {
  overflow: auto;
}

/* line 28, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
textarea {
  margin-top: 4px;
  border: 1px solid black;
  resize: vertical;
}

/* line 34, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.center {
  text-align: center;
}

/* line 38, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.center h1 {
  margin-bottom: 10px;
}

/* typography */
/* line 43, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Palatino", "sans-serif";
}

/* line 48, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 54, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h1.special {
  background: #edf7ed;
  color: #3d8f3d;
  margin-bottom: 40px;
}

/* line 59, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

/* line 67, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
h3 {
  font-size: 1.4em;
  letter-spacing: -1px;
  line-height: 1.2em;
  text-align: center;
  font-weight: normal;
}

/* line 74, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#slogan {
  font-size: 1.85em;
  letterspacing: -1px;
  line-height: 1.2em;
  text-align: center;
  font-weight: normal;
}

/* line 81, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
/* line 89, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
header ul {
  display: inline-block;
  list-style-type: none;
}
/* line 93, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
header #droplog {
  padding: 10px;
}
/* line 95, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
header #droplog input[type=text] {
  width: 200px;
}

/* line 101, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.ui-state-disabled {
  display: none;
}

/* line 104, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#logo {
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 1.7em;
  color: #0096FA;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
/* line 115, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#logo:hover {
  color: #61c0ff;
  text-decoration: none;
}

/* footer */
/* line 123, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid #999;
  color: #fff;
}
/* line 131, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer a {
  color: #ddd;
  font-size: 1.3em;
}
/* line 134, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer a:hover {
  color: #fff;
}
/* line 138, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer small {
  float: left;
}
/* line 141, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer ul {
  float: right;
  list-style: none;
}
/* line 144, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
footer ul li {
  float: left;
  margin-left: 10px;
}

/* home */
/* line 152, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#hometownhero {
  margin-top: 130px;
  padding-top: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 900px;
  background: white;
}

/* line 163, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#homebuttons li {
  display: inline-block;
  list-style-type: none;
  padding-right: 2%;
  padding-left: 2%;
  margin-top: 24px;
}
/* line 167, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#homebuttons li .btn {
  font-size: 28px;
}
/* line 172, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#homebuttons li div {
  width: 275px;
}

/* line 177, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#logo2 {
  color: #0096FA;
}

/*Create Provider Profile*/
/* line 183, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet {
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
/* line 184, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet h3 {
  margin-bottom: 22px;
}
/* line 197, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet ol li {
  list-style-type: none;
  padding-right: 40px;
}
/* line 200, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet ol li label {
  display: inline-block;
}

/* line 205, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 {
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 800px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
/* line 206, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 h3 {
  margin-bottom: 22px;
}
/* line 219, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 ul li {
  list-style-type: none;
  padding-right: 40px;
}
/* line 225, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 fieldset .form-group {
  width: 400px;
  margin-left: 180px;
}
/* line 231, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 #oneliner {
  float: left;
  margin-left: 212px;
  padding-left: 0;
  overflow: hidden;
  white-space: nowrap;
}
/* line 237, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 #oneliner li {
  display: inline-block;
}
/* line 241, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#createsheet2 #prof {
  margin-right: -400px;
}

/* line 249, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#error_explanation ul {
  list-style: none;
  margin: 0px 0 18px 0;
}

/* line 255, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
aside section {
  padding: 10px 0;
}
/* line 257, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
aside section:first-child {
  border: 0;
  padding-top: 0;
}
/* line 261, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
aside section span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
}
/* line 266, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
aside section h1 {
  display: inline-block;
  font-size: 2.0em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 17px;
}

/* line 277, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#prof {
  float: left;
  margin-top: 4px;
  margin-right: 15px;
  margin-left: 22px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/* line 285, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#profile {
  padding-left: 100px;
}

/* line 289, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#fancybutton {
  display: none;
}

/* line 294, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfilePage {
  /* Move it off the top of the page, then centre it horizontally */
  margin: 50px auto;
  padding-bottom: 15px;
  padding-top: 15;
  width: 840px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: white;
}

/* line 307, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#jobbutton {
  border: none;
  background: #F07830;
  color: #FFF;
  padding: 10px 30px;
  font-size: 40px;
  font-family: Palatino;
  font-weight: bold;
}
/* line 317, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#jobbutton a {
  color: white;
}

/* line 323, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#LeftCol {
  /* Move it to the left */
  float: left;
  padding-left: 10px;
  width: 250px;
  text-align: center;
  /* Move it away from the content */
  margin-right: 10px;
  /* For visibility. Delete me */
}

/* line 337, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Photo {
  /* Width and height of photo container */
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

/* line 345, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions {
  text-align: left;
  width: 400px;
}
/* line 348, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #namelist {
  padding: 0;
  margin-top: 50px;
  list-style-type: none;
}
/* line 354, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #namelist li {
  display: inline;
  padding: 0;
  margin: 0;
}
/* line 358, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #namelist li h1 {
  padding: 0px;
  margin: 0px;
}
/* line 363, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #profilebutton {
  border: none;
  background: #222;
  color: #FFF;
  padding: 5px 20px;
  margin: 5px;
  font-size: 17px;
  font-family: Palatino;
  font-weight: bold;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
/* line 377, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#ProfileOptions #profilebutton a {
  color: white;
}

/* line 384, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Info {
  width: 400px;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* Move it to the right */
  float: left;
  margin-left: 150px;
  margin-top: 15px;
  margin-right: 15px;
  /* For visibility. Delete me */
}

/* line 399, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Info #rankbutton {
  background: #40B03F;
}

/* line 403, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Info strong {
  /* Give it a width */
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

/* line 410, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#Info span {
  /* Give it a width */
  display: inline-block;
  width: 250px;
}

/* line 416, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#cancelbutton {
  background: #781800;
}

/*Let's place the label over the input*/
/* line 423, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.flp div.sfield {
  position: relative;
  margin-bottom: 30px;
}

/* line 425, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.flp input.sfield, .flp label.sfield {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  /*fixed height for FF line height issue. 
  height = 24(lineheight) + 10*2(padding) + 2(border)*/
  height: 46px;
}

/* line 431, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.flp input.sfield {
  padding: 10px;
  outline: none;
  border-radius: 3px;
}

/* line 432, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.flp label.sfield {
  position: absolute;
  left: 0;
  top: 0;
  /*left/right padding will be 2px less, adjusted by padding on .ch*/
  padding: 10px 8px;
  border-color: transparent;
  color: #666;
  cursor: text;
}

/*label styles*/
/* line 441, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.ch {
  display: block;
  float: left;
  position: relative;
  /*for upward animation*/
  background: white;
}

/* line 446, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.ch:first-child {
  padding-left: 2px;
}

/* line 447, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.ch:last-child {
  padding-right: 2px;
}

/*active input label*/
/* line 450, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.focussed {
  /*when any input is already focussed clicking on it(label) again won't do anything*/
  pointer-events: none;
}

/* line 454, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
.form-control {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* line 460, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks {
  /*Adding custom checkbox icons*/
  /*hiding the original checkboxes*/
  /*when the user checks the checkbox the checked icon will animate in*/
  /*adding some colors for fun*/
}
/* line 462, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks label {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  cursor: pointer;
}
/* line 468, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks label:before, #discipline-checks label:after {
  font-family: FontAwesome;
  font-size: 21px;
  /*absolutely positioned*/
  position: absolute;
  top: 0;
  left: 0;
}
/* line 474, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks label:before {
  content: '\f096';
  /*unchecked*/
}
/* line 477, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks label:after {
  content: '\f046';
  /*checked*/
  /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
  max-width: 0;
  overflow: hidden;
  opacity: 0.5;
  /*CSS3 transitions for animated effect*/
  transition: all 0.35s;
}
/* line 488, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks input[type="checkbox"] {
  display: none;
}
/* line 492, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks input[type="checkbox"]:checked + label:after {
  max-width: 25px;
  /*an arbitratry number more than the icon's width*/
  opacity: 1;
  /*for fade in effect*/
}
/* line 498, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks #tab-ms + label:before, #discipline-checks #tab-ms + label:after {
  color: #943838;
}
/* line 499, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks #tab-em + label:before, #discipline-checks #tab-em + label:after {
  color: #949438;
}
/* line 500, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks #tab-ps + label:before, #discipline-checks #tab-ps + label:after {
  color: #389438;
}
/* line 501, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks #tab-am + label:before, #discipline-checks #tab-am + label:after {
  color: #389494;
}
/* line 502, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks #tab-seo + label:before, #discipline-checks #tab-seo + label:after {
  color: #383894;
}
/* line 503, /Users/chrisdock/Documents/quomp/ruby/testproj/quomp/app/assets/stylesheets/custom.css.scss */
#discipline-checks #tab-sm + label:before, #discipline-checks #tab-sm + label:after {
  color: #943894;
}
