<div class= 'center' id = "createsheet">
    <h3>Create Client Profile</h3> 
    <%=render 'shared/error_messages'%> 
    <form action="/clients" class="new_client flp" id="new_client" method="post" class = 'center' role ="form">
         <div class="form-group sfield" style="margin-bottom: 6px!important;">
            <input type="name" class="form-control sfield" name="client[name]" id="name" required autofocus>
            <label for="name" class="sfield">Name</label>
        </div>
        <div class="form-group notme">
            <label for="anonymous">Remain anonymous to providers?</label>
            <%=select_tag :anonymous, options_for_select([["No",false], ["Yes", true]]), id: "anonymous", name: "client[anonymous]"%>
        </div>
        <div class="form-group sfield">
            <input type="email" class="form-control sfield" name= "client[email]" id="email" required>
            <label for="email" class="sfield">Email</label>
        </div>
        <div class="form-group sfield">
            <input type="password" class="form-control sfield" name= "client[password]" id="passwd" required>
            <label for="passwd" class="sfield">Password</label>
        </div>
        <div class="form-group sfield">
            <input type="password" class="form-control sfield" name= "client[password_confirmation]" id="confirmpasswd" required>
            <label for="confirmpasswd" class="sfield">Confirm Password</label>
        </div>
        <div class="form-group">
            <input name="commit" type="submit" value="Populate Profile" class= "btn btn-large btn-primary"/>
        </div>
        <div class="form-group">
            <%=link_to "Already a Client? Sign in here.", new_session_path(:user)%>
        </div>
    </form>
</div>

