<div class="modal fade why" id="whymodal<%=num%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-mockups" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel-mockups">Full Profile for <%=provider.name.split[0]%></h4>
            </div>
            <div class="modal-body" style="padding-top:0px!important;">
            <%=render partial: 'providers/show',locals: {provider: provider, job: job}%>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
