 <div class="center hero-unit" id="hometownhero">
    <p>At Quomp, we've found a better way for emerging businesses
        to leverage the extended workforce. It is truly a "win-win" for all
        parties.</p>
    <ul id="homebuttons">
        <li><%= link_to "Post a Job", "#", 
            class: "btn btn-large btn-primary" %></li>
        <li><%= link_to "Join Our Engine", "#", 
            class: "btn btn-large btn-primary"%></li>
    <ul>
</div>


