<div class="center jumbotron" id="hometownhero">
     <h3>At <strong id=logo2>Quomp</strong>, we've found a better way for emerging businesses
        to leverage the extended workforce. It is truly a "win-win" for all
        parties.</h3>
    <ul class = "list-inline" id="homebuttons">
        <li>
            <div>
            <small>Are you an individual or business 
            that needs help with a job?</small>
            <%= link_to "Post a Job", "#", 
                class: "btn btn-large btn-primary" %>
            </div>
        </li>
        <li>
            <div>    
            <small>Are you a freelancer or agency looking for more
            work?</small>
            <%= link_to "Join Our Engine", "#", 
                class: "btn btn-large btn-primary"%>
            </div>
        </li>
    <ul>
</div>


