@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
/* universal */

html {
    overflow-y:scroll;
    height:100%;
}

body {
    //min-height:92%;
    position: relative;
    padding-top: 60px;
    font-family: 'Palatino', sans-serif;
    h4 {
        font-style: bold;
        font-weight: 500;
    }
background: #4878A8;
}


section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1,h2,h3,h4,h5,h6 {
    line-height: 1;
    font-family: 'Palatino','sans-serif'
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #999;
}
h3 {
    font-size: 1.4em;
    letter-spacing:-1px;
    line-height:1.2em;
    text-align: center;
    font-weight: normal;
}
#slogan {
    font-size:1.85em;
    letterspacing:-1px;
    line-height:1.2em;
    text-align:center;
    font-weight:normal;
}
p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

header {
    ul {
        display: inline-block;
        list-style-type: none;
    }
    #droplog{
        padding:10px;
        input[type=text] {
            width: 200px;
        }
    }
}
#logo {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 1.7em;
    color: #0096FA;
    text-transform: capitalize;
    letter-spacing: -1px;
    padding-top:9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
        color: lighten(#0096FA,20%);
        text-decoration: none;
}
}

/* footer */

footer {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #999;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    a {
        color: #333;
        font-size:1.3em;
        &:hover {
            color: #555;
}
}
small {
    float: left;
}
ul {
    float: right;
    list-style: none;
    li {
        float: left;
        margin-left: 10px;
}
}
}

/* home */
#hometownhero {
    margin-top: 130px;
    padding-top: 30px;
    margin-bottom: 150px;
    margin-right:50px;
    border-radius: 5px;
    margin-left: 50px;
    height:400px;
    background: linear-gradient(to top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
}
#homebuttons li {
    display:inline-block;
    list-style-type: none;
    padding-right:2%;
    .btn {
        font-size: 28px;
    }
    padding-left:2%;
    margin-top:40px;
    div {
        width: 275px;
    }
}

#logo2{
    color:#0096FA;
}

/*Create Provider Profile*/

#createsheet {
    h3 {
        margin-bottom: 22px;
    }
    background: #A8D8F0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    vertical-align:middle;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    ol li {
        list-style-type:none;
        padding-right: 40px;
        label{
            display:inline-block;
        }
    }
}


#error_explanation {
    ul {
        list-style: none;
        margin: 0px 0 18px 0;
  }
}
.field_with_errors {
    @extend .form_group;
}
aside {
    section {
        padding: 10px 0;
        &:first-child {
            border: 0;
            padding-top: 0;
  }
  span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
  }
  h1 {
      display:inline-block;
      font-size: 2.0em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 17px;
}
}
}

#prof {
    float: left;
    margin-top:4px;
    margin-right: 15px;
    margin-left:22px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#usereditform {
    width: 300px;
    .form-group {
        padding-bottom: 15px;
    }
}

#profile{
    padding-left: 100px;
}

#fancybutton{
    display: none;
}

#ProfilePage
{
    /* Move it off the top of the page, then centre it horizontally */
    margin: 50px auto;
    padding-bottom: 15px;
    padding-top: 15;
    width: 840px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    background: #A8D8F0;
    
}

#jobbutton {
    //background-color: #F07830;
    //font: 50px sans-serif;
    border: none;
    background: #F07830;
    color: #FFF;
    padding: 10px 30px;
    font-size:40px;
    font-family: Palatino;
    font-weight: bold;
    a {
        color:white;
    }
}

#LeftCol
{
    /* Move it to the left */
    float: left;
    padding-left: 10px;
    width: 250px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 10px;

    /* For visibility. Delete me */
}

#Photo
{
    /* Width and height of photo container */
    width: 200px;
    height: 200px;
    margin-top:20px;
}

#ProfileOptions
{
    text-align: left;
    width: 400px;
    #namelist {
        padding: 0;
        margin-top:40px;
        list-style-type: none;
    }

    #namelist li {
        display: inline;
        padding:0;
        margin:0;
        h1{
            padding:0px;
            margin:0px;
        }
    }
    #profilebutton {
        
        border: none;
        background: #222;
        color: #FFF;
        padding: 5px 20px;
        margin: 5px;
        font-size:17px;
        font-family: Palatino;
        font-weight: bold;
        border-radius:0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        
        a {
            color: white;
        }
    }
}

#Info
{
    width: 400px;
    text-align: left;
    -moz-border-radius: 5px;
    //background: #F3FAB6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* Move it to the right */
    float: left;
    margin-left: 150px;
    margin-top:15px;
    margin-right:15px;

    /* For visibility. Delete me */
}
#Info #rankbutton {
    background: #40B03F;
}
#Info strong
{
    /* Give it a width */
    display: inline-block;
    
    width: 100px;
}
#Info span
{
    /* Give it a width */
    display: inline-block;
    width: 250px;
}

