/* universal */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}
body {
    font-family: 'Palatino', sans-serif;
    background:
    url('http://thecodeplayer.com/uploads/media/gs.png');
    h4 {
        font-style: bold;
        font-weight: 500;
    }

}
#wrapper {
    min-height:100%;
    width: 100%;
    position: relative;
}
#header {
    padding:10px;
    ul {
        display: inline-block;
        list-style-type: none;
    }
    #droplog{
        padding:10px;
        input[type=text] {
            width: 200px;
        }
    }
}
#content {
    padding-bottom: 120px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:45px;

    border-top: 1px solid #999;
    color: #fff;
    a {
        color: #ddd;
        font-size:1.3em;
        &:hover {
            color: #fff;
        }
    }
    ul {
        float:right;
        overflow: hidden;
        white-space:nowrap;
        li { 
            display: inline-block;
            padding:10px;
        }
    }
}
input[type="file"] {
    visibility: hidden;
    width:1px;
}
.ui-state-disabled {
    visibility: hidden;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1,h2,h3,h4,h5,h6 {
    line-height: 1;
    font-family: 'Palatino','sans-serif'
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h1.special {
    background: hsl(120, 40%, 95%); color: hsl(120, 40%, 40%);
    margin-bottom: 40px;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
    color: #999;
}
h3 {
    font-size: 1.4em;
    letter-spacing:-1px;
    line-height:1.2em;
    text-align: center;
    font-weight: normal;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

textarea {
    resize: vertical !important;
}

ul {
    margin-bottom: 0 !important
}
.ui-state-disabled {
    display: none;
}

#slogan {
    font-size:1.85em;
    letterspacing:-1px;
    line-height:1.2em;
    text-align:center;
    font-weight:normal;
}
#logo {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 2.3em;
    color: #0096FA;
    text-transform: capitalize;
    letter-spacing: -1px;
    padding-top:9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
        color: lighten(#0096FA,20%);
        text-decoration: none;
    }
}


/* home */
#hometownhero {
    margin-top: 130px;
    padding-top: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    height:400px;
    width:900px;
    background: white;
    //background: linear-gradient(to top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
}
#homebuttons li {
    display:inline-block;
    list-style-type: none;
    padding-right:2%;
    .btn {
        font-size: 28px;
    }
    padding-left:2%;
    margin-top:24px;
    div {
        width: 275px;
    }
}
#logo2{
    color:#0096FA;
}


#createsheet {
    h3 {
        margin-bottom: 22px;
    }
    background:white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    vertical-align:middle;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    ol li {
        list-style-type:none;
        padding-right: 40px;
        label{
            display:inline-block;
        }
    }
}
#createsheet2 {
    h3 {
        margin-bottom: 22px;
    }
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 800px;
    vertical-align:middle;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    ul li {
        list-style-type:none;
    }
    fieldset {
        .form-group{
            width: 400px;
            margin-left:auto;
            margin-right: auto;
        }
    }
}
#createsheet3 {
    margin-top:100px;
}
#oneliner {
    white-space:nowrap;
    li { 
        display: inline-block; 
    }
}
.citystate {
    padding:0!important;
    input {
    }
}
.quick-align {

    float: left;
    margin-left: 180px;
    padding-left:0;
}
.quick-align2 {
    float: left;
    margin-left:170px;
    padding-left:0;
}

#error_explanation {
    margin-bottom: 18px;
    ul {
        list-style: none;
        margin: 0px 0 18px 0;
    }
}
aside {
    section {
        padding: 10px 0;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            display:inline-block;
            font-size: 2.0em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 17px;
        }
    }
}

#prof {
    margin-top:4px;
    margin-bottom:10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#name-text {
    width: 80%;
    margin-left:-40px;

    margin-top:30px;
    h1 {
        float: left;
        margin-left:15px;
        font-size:3em;
    }
}
#profile{
    padding-left: 100px;
}

#fancybutton{
    display: none;
}

.profile
{

    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 1000px;
    vertical-align:middle;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    margin-bottom:40px;
    font-size: 20px;
    ul {
        padding:0
    }

    ul li {
        list-style-type:none;
display: inline;
    padding:0;
    margin:0;
    }
    #main-left{
        float: left;
        width: 50%;
    }
    #main-right {
        padding-left:20px;
        float: right;
        width:50%;
    }
    
    fieldset{
        legend{
            font-size:1.5em;
        }

        width: 45%px;
        margin-bottom:10px;
    }
    .show-prof {
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        width: 200px!important;
        height:200px!important;
    }
    
    table {
            td.spacer {
            }
        }
    .profilebutton {

        border: none;
        background: #222;
        color: #FFF;
        padding: 5px 20px;
        margin: 5px;
        font-size:17px;
        font-family: Palatino;
        font-weight: bold;
        border-radius:0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        a {
            color: white;
        }
    }
    

}
.details-left {
    float:left;
    width: 50%;
}
.details-right {
    float:right;
    width: 50%;
}
.show-group {
    margin-bottom: 20px;
}
.clear {
    clear: both;
}

#jobbutton
{
    //background-color: #F07830;
    //font: 50px sans-serif;
    border: none;
    background: #F07830;
    color: #FFF;
    padding: 10px 30px;
    font-size:40px;
    font-family: Palatino;
    font-weight: bold;
    a 
    {
        color:white;
}
}

#namelist li {
    display: inline;
    padding:0;
    margin:0;
    h1{
        padding:0px;
        margin:0px;
}
}
#profilebutton {

    border: none;
    background: #222;
    color: #FFF;
    padding: 5px 20px;
    margin: 5px;
    font-size:17px;
    font-family: Palatino;
    font-weight: bold;
    border-radius:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;

    a {
        color: white;
}
}

#cancelbutton{
    background: #781800;
}



/*Let's place the label over the input*/
.flp div.sfield {position: relative; margin-bottom: 26px;}

.flp input.sfield, .flp label.sfield {
    font: inherit; font-size: 16px; line-height: 24px;
    /*fixed height for FF line height issue. 
    height = 24(lineheight) + 10*2(padding) + 2(border)*/
height: 46px;
}
.flp input.sfield {padding: 10px; outline: none; border-radius: 3px;}
.flp label.sfield {
    position: absolute; left: 0; top: 0;
    /*left/right padding will be 2px less, adjusted by padding on .ch*/
    padding: 10px 8px;
    border-color: transparent; color: #666;
    cursor: text;
}

/*label styles*/
.ch {
    display: block; float: left;
    position: relative; /*for upward animation*/
    background: white;
}
.ch:first-child {padding-left: 2px;}
.ch:last-child {padding-right: 2px;}

/*active input label*/
.focussed {
    /*when any input is already focussed clicking on it(label) again won't do anything*/
    pointer-events: none;
}
.form-control {
    margin-right: auto;
    margin-left: auto;
}

#discipline-checks {

    ul {
        margin: 0 auto;
    }
    ul li {
        list-style-type: none;
        padding: 10px;
    }
/*Adding custom checkbox icons*/
    label {
        position: relative;
        padding-left: 20px;
        padding-right: 10px;
        padding-top:5px;
        font-size: 14px;
        cursor: pointer;
    }
    label:before, label:after {
        font-family: FontAwesome;
        font-size: 21px;
        position: absolute; top: 0; left: 0;
    }
    label:before {
        content: '\f096'; /*unchecked*/
    }
    label:after {
        content: '\f046'; /*checked*/
        /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
        max-width: 0;
        overflow: hidden;
        opacity: 0.5;
        /*CSS3 transitions for animated effect*/
        transition: all 0.35s;
    }

    /*hiding the original checkboxes*/
    input[type="checkbox"] {
    display: none;
    }
    /*when the user checks the checkbox the checked icon will animate in*/
    input[type="checkbox"]:checked + label:after {
        max-width: 25px; /*an arbitratry number more than the icon's width*/
        opacity: 1; /*for fade in effect*/
    }

    /*adding some colors for fun*/
    #tab-ms+label:before, #tab-ms+label:after {color: hsl(0, 45%, 40%);}
    #tab-em+label:before, #tab-em+label:after {color: hsl(60, 45%, 40%);}
    #tab-ps+label:before, #tab-ps+label:after {color: hsl(120, 45%, 40%);}
    #tab-am+label:before, #tab-am+label:after {color: hsl(180, 45%, 40%);}
    #tab-seo+label:before, #tab-seo+label:after {color: hsl(240, 45%, 40%);}
    #tab-sm+label:before, #tab-sm+label:after {color: hsl(300, 45%, 40%);}
}



#p-edit,#j-create{
   .form-group.sfield, .form-group.wandc {
       width: 400px !important;
       margin-right:auto;
       margin-left: auto;
   }
    fieldset.sf {

        background: white; 
        margin-top:10px;
        border: 0 none;
        border-radius: 3px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 800px;
        position:absolute;
        left: 50%;
        margin-left:-400px;
        margin-top:10px;
        /*stacking fieldsets above each other*/
        overflow: hidden;
        white-space:nowrap;
        li { 
            list-style-type: none;
        }
    }
    fieldset.sf:not(:first-of-type) {
        display: none;
    }
    .action-button {
        width: 100px;
        background: #27AE60;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
    }
    .action-button:hover, .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    }
    #progressbar {
        overflow: hidden;
        counter-reset: step;
        margin-left:-916px;

    }
    #progressbar li {
        list-style-type: none;
        text-transform: uppercase;
        font-size: 9px;
        left:50%;
        width: 304px;
        float: left;
        position: relative;
        color: white;
    }
    #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        color: #333;
        background: white;
        border-radius: 3px;
        margin: 0 auto 5px auto;
    }
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1; /*put it behind the numbers*/
    }
    #progressbar li:first-child:after {
        content: none; 
    }
    #progressbar li.active:before,  #progressbar li.active:after{
        background: #27AE60;
        color: white;
    }
}

.clockpicker {
    width: 180px !important;
    margin-right: auto;
    margin-left: auto;
}
.form-group {
    margin-bottom: 26px !important;
}
.chosen-container .chosen-results{
    li {
        display: list-item!important;
    }
}

.chosen-choices .search-field input {
    width: 700px!important;
}

.search-field input {
    height: 20px!important;
    color: #888!important;
    line-height: 15px!important;
    padding: 5px 0px 5px 5px!important;
    border-radius: 4px!important;
}


#resume-prev .modal-dialog{
    width: 900px!important;
}
.doc-prev {
    width: 840px;
    height: 800px!important;
    background: white;
    border-style: none;
    margin: 0 auto 0 auto;
}
.badge {
    margin-right:10px;
    padding: auto!important;
}
