/* universal */

@import url('http://fonts.googleapis.com/css?family=Lato');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
$color: #DCF7F3;//lighten(blue,30%);//#F3F4E5;//#FAF0DF;//#FDD29D;
html, body {
    margin: 0;
    padding: 0;
    min-height:100%;
}
body {
    font-family: 'Palatino', sans-serif!important;
    //background:#566C94;
    background: url(/assets/sky.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-width:140%!important;
    margin:0;
    h4 {
        font-style: bold;
        font-weight: 500;
    }
    .form-control {
        background-color: $color;
    }
}
.chosen-single {
    span {
        color:black!important;
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Palatino', sans-serif!important;
}
.blueb {
    background-color: #C2D1CE!important;
    border: solid 1px black!important;

}
.btn {
    outline: none!important;
}
.btn-primary {
    border: solid 1px black !important;
    background-color:#F98057!important;
}
.btn-primary:active,.btn-primary.active {
    background-color: darken(#F98057,4%)!important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color inset!important;
}
.modal {
    z-index: 5000000;
}
input[type="file"] {
    visibility: hidden;
    width:1px;
}
.rating {
  background: -webkit-linear-gradient(right,#B0E5FB,#63AFD5); /* For Safari 5.1 to 6.0 */  
  background: -o-linear-gradient(right,#B0E5FB, #63AFD5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,#B0E5FB, #63AFD5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(right,#B0E5FB, #63AFD5); /* Standard syntax */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  margin: 0!important;
  height:20px!important;
}
.ratingwrap {
  margin: 0!important;
  padding:0!important;
  height:22px!important;
  width:162px!important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px black;
}
.ui-state-disabled {
    visibility: hidden;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1,h2,h3,h4,h5,h6 {
    line-height: 1;
    font-family: 'Palatino','sans-serif'
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h1.special {
    background: hsl(120, 40%, 95%); color: hsl(120, 40%, 40%);
    margin-bottom: 40px;
}
select, button {
    outline: none!important;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
    color: #999;
}
h3 {
    font-size: 1.4em;
    letter-spacing:-1px;
    line-height:1.2em;
    text-align: center;
    font-weight: normal;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

textarea {
    resize: none !important;
}

ul:not(.chosen-choices) {
    margin-bottom: 0;
}
.ui-state-disabled {
    display: none;
}
.modal-open {
    margin-right:0px!important;
}
#slogan {
    font-size:1.85em;
    letterspacing:-1px;
    line-height:1.2em;
    text-align:center;
    font-weight:normal;
}
/* home */
#hometownhero {
    margin-top: 130px;
    padding-top: 30px;
    border: solid black 1px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    height:400px;
    width:900px;
    background:$color;
    .smalldiv {
        line-height: 1.3em!important;
    }
    .small {
        line-height:1.3em!important;
    }
    //background: linear-gradient(to top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
}
#homebuttons li {
    display:inline-block;
    list-style-type: none;
    padding-right:2%;
    .btn {
        font-size: 28px;
}
padding-left:2%;
margin-top:24px;
div {
    width: 275px;
}
}
#logo2{
}


#createsheet {
    h3 {
        margin-bottom: 22px;
}
background:$color;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: solid black 1px;
padding: 20px;
width: 400px;
vertical-align:middle;
margin-left: auto;
margin-right: auto;
margin-top:100px;
ol li {
    list-style-type:none;
    padding-right: 40px;
    label{
        display:inline-block;
}
}
}
#createsheet2 {
    h3 {
        margin-bottom: 22px;
}
border: solid black 1px;
background: $color;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
padding: 20px;
width: 800px;
vertical-align:middle;
margin-left: auto;
margin-right: auto;
margin-top:100px;
ul li {
    list-style-type:none;
}
fieldset {
    .form-group{
        width: 400px;
        margin-left:auto;
        margin-right: auto;
}
}
}
#createsheet3 {
    margin-top: 100px;
}
#createsheet4 {
border: solid black 1px;
background: $color;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
padding: 20 0 20 0!important;
width: 1500px;
vertical-align:middle;
margin-left: auto;
margin-right: auto;
margin-top:80px;
margin-bottom: -50px;
height: 970px;
ul li {
    list-style-type:none;
}
.pane {
    width: 350px;
    background: white;
    float:left;
    border: solid black 1px;
    height:830px;
    margin-left:12px;
    margin-right:12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
}
}
#oneliner {
    white-space:nowrap;
    li { 
        display: inline-block; 
}
}
.citystate {
    padding:0!important;
}
.quick-align {

    float: left;
    margin-left: 180px;
    padding-left:0;
}
.quick-align2 {
    float: left;
    margin-left:170px;
    padding-left:0;
}

#error_explanation {
    margin-bottom: 18px;
    ul {
        list-style: none;
        margin: 0px 0 18px 0;
}
}
aside {
    section {
        padding: 10px 0;
        &:first-child {
            border: 0;
            padding-top: 0;
}
span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
}
h1 {
    display:inline-block;
    font-size: 2.0em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 17px;
}
}
}

#prof {
    margin-top:4px;
    margin-bottom:10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#name-text {
    width: 80%;
    margin-left:-40px;

    margin-top:30px;
    h1 {
        float: left;
        margin-left:15px;
        font-size:3em;
}
}
#profile{
    padding-left: 100px;
}

#fancybutton{
    display: none;
}

.profile:not(.proprev){
background: $color;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top:100px;
    margin-bottom:40px;
}
.profile
{
    padding: 20px;
    width: 1000px;
    vertical-align:middle;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    ul {
        padding:0
}

ul li {
    list-style-type:none;
    display: inline;
    padding:0;
    margin:0;
}
#main-left{
    float: left;
    width: 50%;
}
#main-right {
    padding-left:20px;
    float: right;
    width:50%;
}

fieldset{
    legend{
        font-size:1.5em;
}

width: 45%px;
margin-bottom:10px;
}
.show-prof {
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    width: 200px!important;
    height:200px!important;
}

table {
    td.spacer {
}
}
.profilebutton {

    border: none;
    background: #222;
    color: #FFF;
    padding: 5px 20px;
    margin: 5px;
    font-size:17px;
    font-weight: bold;
    border-radius:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    a {
        color: white;
}
}

}
.details-left {
    float:left;
    width: 50%;
}
.details-right {
    float:right;
    width: 50%;
}
.show-group {
    margin-bottom: 20px;
}
.clear {
    clear: both;
}

#jobbutton
{
    //background-color: #F07830;
    //font: 50px sans-serif;
    border: solid 1px black;
    background: #F98057;
    color: #FFF;
    padding: 10px 30px;
    font-size:40px;
    font-weight: bold;
    a 
    {
        color:white;
    }
}

#namelist li {
    display: inline;
    padding:0;
    margin:0;
    h1{
        padding:0px;
        margin:0px;
}
}
#cancelbutton{
    background: #781800;
}



/*Let's place the label over the input*/
.flp div.sfield {position: relative; margin-bottom: 26px;}

.flp input.sfield, .flp label.sfield {
    font: inherit; font-size: 16px; line-height: 24px;
    /*fixed height for FF line height issue. 
    height = 24(lineheight) + 10*2(padding) + 2(border)*/
height: 46px;
}
.flp input.sfield {padding: 10px; outline: none; border-radius: 3px;}
.flp label.sfield {
    position: absolute; left: 0; top: 0;
    /*left/right padding will be 2px less, adjusted by padding on .ch*/
    padding: 10px 8px;
    border-color: transparent; color: #666;
    cursor: text;
}

/*label styles*/
.ch {
    display: block; float: left;
    position: relative; /*for upward animation*/
    background: $color;
    z-index: 100;
}
.ch:first-child {padding-left: 2px;}
.ch:last-child {padding-right: 2px;}

/*active input label*/
.focussed {
    /*when any input is already focussed clicking on it(label) again won't do anything*/
    pointer-events: none;
}
.form-control {
    margin-right: auto;
    margin-left: auto;
}

#discipline-checks, #usechecks,#rememberchecks{

    ul {
        margin: 0 auto;
}
ul li {
    list-style-type: none;
    padding: 10px;
}
/*Adding custom checkbox icons*/
label {
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
    padding-top:5px;
    font-size: 14px;
    cursor: pointer;
}
label:before, label:after {
    font-family: FontAwesome!important;
    font-size: 21px;
    position: absolute; top: 0; left: 0;
}
label:before {
    content: '\f096'; /*unchecked*/
}
label:after {
    content: '\f046'; /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
}

/*hiding the original checkboxes*/
input[type="checkbox"] {
    display: none;
}
/*when the user checks the checkbox the checked icon will animate in*/
input[type="checkbox"]:checked + label:after {
    max-width: 25px; /*an arbitratry number more than the icon's width*/
    opacity: 1; /*for fade in effect*/
}

/*adding some colors for fun*/
#tab-ms+label:before, #tab-ms+label:after {color: hsl(0, 45%, 40%);}
#tab-em+label:before, #tab-em+label:after {color: hsl(60, 45%, 40%);}
#tab-ps+label:before, #tab-ps+label:after {color: hsl(120, 45%, 40%);}
#tab-am+label:before, #tab-am+label:after {color: hsl(180, 45%, 40%);}
#tab-seo+label:before, #tab-seo+label:after {color: hsl(240, 45%, 40%);}
#tab-sm+label:before, #tab-sm+label:after {color: hsl(300, 45%, 40%);}
#usecheck+label:before, #usecheck+label:after {color: hsl(240, 45%, 40%);}
#usecheck+label:before, #usecheck+label:after {color: black;}
}



#p-edit,#j-create{
    .form-group.sfield, .form-group.wandc {
        width: 400px !important;
        margin-right:auto;
        margin-left: auto;
   }
   fieldset.sf {

       background: $color;
       border: solid black 1px!important;
       margin-top:10px;
       border: 0 none;
       border-radius: 3px;
       -moz-border-radius: 5px;
       -webkit-border-radius: 5px;
       box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
       padding: 20px 30px;
       box-sizing: border-box;
       width: 800px;
       position:absolute;
       left: 50%;
       margin-left:-400px;
       margin-top:10px;
       /*stacking fieldsets above each other*/
       overflow: hidden;
       li { 
           list-style-type: none;
}
}
fieldset.sf:not(:first-of-type) {
    display: none;
}
.action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.action-button:hover, .action-button:focus {
    box-shadow: 0 0 0 2px $color, 0 0 0 3px #27AE60;
}
#progressbar {
    overflow: hidden;
    counter-reset: step;
    margin-left:-916px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
            1px -1px 0 #000,
                -1px 1px 0 #000,
                    1px 1px 0 #000; 


}
#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    left:50%;
    width: 304px;
    float: left;
    position: relative;
 }
.p4 li {
    width: 228px!important;
}
.p5 li {
    width:182px!important;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    text-shadow: none;
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    content: none; 
}
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}
}

.clockpicker {
    width: 180px !important;
    margin-right: auto;
    margin-left: auto;
}
.form-group {
    margin-bottom: 26px !important;
}
.chosen-container .chosen-results{
    li {
        display: list-item!important;
}
}

.search-field input {
    height: 45px!important;
    color: #888!important;
    line-height: 15px!important;
    padding: 5px 0px 5px 5px!important;
    border-radius: 4px!important;
}

.why .modal-dialog{
    width: 1300px!important;
}
.docprevtop .modal-dialog{
    width: 900px!important;
}
.doc-prev {
    width: 840px;
    height: 800px!important;
    background: white;
    border-style: none;
    margin: 0 auto 0 auto;
}
.modalstuff {
    width: 550px;
    height: 600px!important;
    border-style: none;
    margin: 0 auto 0 auto;
    white-space:normal!important;
}
.badge {
    margin-right:10px;
    padding: auto!important;
}

#tabs { 
    background: transparent; 
    border: none; 
} 
#tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url('uiTabsArrow.png') no-repeat bottom center; 
    border: none; 
} 
#tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
#tabs .ui-tabs-nav .ui-state-active a { 
    color: #459e00; 
}
#tabs *:focus{
    outline:none!important;
}
#slider-vertical {
    width:48px;
}
#slider-vertical *:focus {
    outline:none!important;
}
.ui-slider {
}
.ui-slider-range {
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}

.ui-slider-handle {
    width:54px!important;
    height:27px!important;
    color: #1592CC!important;
    font-size: 14px!important;
    padding: 3px!important;
    text-shadow: 0 1px 0 #FFFFFF!important;
    text-decoration:none!important;
    background:#FFFCFA!important; 
}

#slider-left {
    float:left;
    width:80px;
    height:375px;
}
#slider-right {
    float:right;

    width:650px;
          * {
              float:left;
}
.tier-wrap {
    width:100%;
}
#tier0,#tier1,#tier2,#tier3 {
    height:100px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    h1 {
        margin-top:30px;
}
span{
    margin-top:5px;
    float: right;
}
p{
    margin-top:10px;
    white-space:normal!important;
    width:400px;
    float:left;
    margin-left:40px;
}
p.compressed {
    margin-top:10px;
    white-space:normal!important;
    width:200px;
    float:left;
    margin-left:40px;
}

}
#tier3{
    width:300px;
    background: #CFF09E;
    h1 {
        margin-left:10px;
}
}
#tier2{
    width:400px;
    background: #A8DBA8;
    h1 {
        margin-left:10px;
}

}
#tier1{
    width:500px;
    background: #79BD9A;
    h1 {
        margin-left:10px;
}

}
#tier0{
    width:600px;
    background: #3B8686;
    h1 {
        margin-left:10px;
}
}
* .modal-dialog {
    width: 700px;
}
* .modal-content {
    word-wrap: break-word!important;
}

}
.logo {
    width:120px;
    height:80px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    border: 3px solid black;
}

.specialDate { background-color: #6F0 !important; }

.ruhroh {
    visibility: hidden;
}

div.tooltip-inner {
    max-width: 180px;
}


