<footer class="footer" id="homefoot">
    <small>
        <h4>Los Angeles</h4>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", "http://emadgine.com/about.html" %> </li>
            <li><%= link_to "Contact Us", "http://emadgine.com/contact.php"%></li>
            <li><a href="http://emadgine.com">EmADgine LLC</a></li>
        <ul>
    </nav>
</footer>
